 @{
     /* Get image path for images
    ***************************************************************/
     var ImgPath = Url.Content("~/Themes/InfusionMobile/Content/Images/");
 }
   <div id="credits">  
       <div class="poweredby">
           <a href=""><img src="@(ImgPath + "comment-icon.png")"></a><a href=""><img src="@(ImgPath + "message-icon.png")"></a>
           <div class="footer-powered"><img src="@(ImgPath + "ItsOnMessageMobile.png")"></div></div>
    </div>