@using Orchard.ContentManagement;
@{
    IEnumerable<object> blogPosts =
        Model.ContentItems;
}
@if (blogPosts == null || blogPosts.Count() < 1) {
<p>@T("No posts.")</p>
}
else {
    <ul data-role="listview" class="content-items">
    @foreach (dynamic post in blogPosts) {
        string title = post.Title;
        ContentItem item = post.ContentItem;
        <li class="content-item-summary">
            <a href="@post.ContentItem.AutoroutePart.Path">
				<h3>@post.ContentItem.TitlePart.Title</h3>
				<p><strong>Boston Conference Planning</strong></p>
				@Html.Raw(post.ContentItem.BodyPart.Text)
				<p class="ui-li-aside"><strong>9:18</strong>AM</p>
			</a>
        </li>

        
    }
    </ul>
}
